<!--Group No.: 20
	Group Members: Sahilpreet Singh, Kulbir Kaur, Jagpreet Singh, Anmoldeep Singh
    
    Description:The Gym Management System is a software program designed to facilitate the management of client enrollment data. 
    Users of this program can manage and add new clients' data. -->



@page "/"

<style>
     {
        background-color: lightblue;
     }
</style>
<body>
<h1 class="main-heading" style="font-family: 'Times New Roman', Times, serif;">Welcome to the Gym Management System</h1>

<div class="index-container">
        <!-- This section styles the "go to clients"" button -->
    <div class="index-item clients" style="font-family: 'Times New Roman', Times, serif;">
        <h3>Manage Clients</h3>
        <p>Manage all your gym clients in one place.</p>
        <a href="clients" class="btn btn-primary" style="background-color: purple; color: #ffffff; font-family: 'Times New Roman', Times, serif, sans-serif;">Go to Clients</a>
    </div>

        <!-- This section styles the "go to instructor" button -->

    <div class="index-item instructors" style="font-family: 'Times New Roman', Times, serif;">
        <h3>Manage Instructors</h3>
        <p>View and manage gym instructors and their specializations.</p>
        <a href="instructor" class="btn btn-primary" style="background-color: purple; color: #ffffff; font-family: 'Times New Roman', Times, serif, sans-serif;">Go to Instructors</a>
    </div>

        <!-- This section styles the "go to membership" button -->
    <div class="index-item memberships" style="font-family: 'Times New Roman', Times, serif;">
        <h3>Manage Memberships</h3>
        <p>Manage different types of memberships offered.</p>
        <a href="managememberships" class="btn btn-primary" style="background-color: purple; color: #ffffff; font-family: 'Times New Roman', Times, serif, sans-serif;">Go to Memberships</a>
    </div>
</div>
</body>